body {
}

.container {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-rows: 2fr 1fr 6fr;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    background-color: dodgerblue;
    padding: 10px;
}

div {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.itemSpan2 {
    grid-column: 1 / span 2;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

select {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    select .button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}


